<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Convertir a Mayúsculas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-input [(ngModel)]="texto" placeholder="Introduce un texto"></ion-input>
    <p *ngIf="resultado">Resultado: {{ resultado }}</p>

    <ion-button expand="block" (click)="convierteMayusculas()">Convertir</ion-button>
    <ion-button expand="block" color="medium" (click)="reinicia()">Reiniciar</ion-button>
  </div>
</ion-content>
